<footer class="footer">

    <div class="footer-top">
        <img src="/images/F1.svg" alt="F1 Logo" class="footer-logo">
    </div>

    <div class="footer-links">

        <div class="footer-col">
            <h3>F1</h3>
            <a href="/">Home</a>
            <a href="/drivers">Drivers</a>
            <a href="/teams">Teams</a>
            <a href="/schedule">Schedule</a>
        </div>

        <div class="footer-col">
            <h3>Championship</h3>
            <a href="#">Standings</a>
            <a href="#">Results</a>
            <a href="/schedule">Race Calendar</a>
        </div>

        <div class="footer-col">
            <h3>About</h3>
            <a href="#">F1 History</a>
            <a href="#">Rules</a>
            <a href="/Schedule">Circuits</a>
        </div>

        <div class="footer-col">
            <h3>Follow</h3>
            <a href="#">Instagram</a>
            <a href="#">Twitter</a>
            <a href="#">YouTube</a>
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2026 Formula 1 Dashboard Project</p>
    </div>

</footer>