<header class="dash">
    <a href="/">
        <img src="/images/F1.svg" alt="Formula 1 Logo">
    </a>

    <div class="menu-btn" onclick="toggleMenu()" aria-label="Toggle Menu">☰</div>

    <nav class="dash2" id="navMenu">
        <a href="/">Home</a>
        <a href="/drivers">Drivers</a>
        <a href="/teams">Teams</a>
        <a href="/schedule">Schedule</a>
    </nav>

    <img src="/images/fia.png" alt="FIA Logo">
</header>