<header>
    <div class="dash">
        <img src="/images/F1.svg" alt="f1_logo" width="100px">

        <div class="dash2">
            <a href="home">Home</a>
            <a href="drivers">Drivers</a>
            <a href="teams">Teams</a>
            <a href="schedule">Schedule</a>
        </div>
        <img src="/images/fia.png" alt="fia" width="100px">
    </div>
</header>