<header>
    <div class="dash">
        <img src="/images/F1.svg" alt="f1_logo" width="100px">

        <div>
            <a href="drivers">Drivers</a>
            <a href="teams">Teams</a>
            <a href="schedule">Schedule</a>
        </div>
    </div>
</header>