<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1-Schedule</title>
    <link rel="stylesheet" href="css/dash-board.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
</body>
</html>