*{
    padding: 0px;
    margin: 0px;
}
.body{
    background: linear-gradient(to right,#0f0f0f,#1c1c1c);
}
.dash{
    display:flex;
    align-items:center;
    background:black;
    height:75px;
    padding:0 20px;
}

.dash2{
    display:flex;
    gap:40px;
    margin-left:40px;
}

.dash2 a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.menu-btn{
    display:none;
    font-size:28px;
    color:white;
    cursor:pointer;
}

.dash img:last-child{
    margin-left:auto;
}

/* -------- RESPONSIVE -------- */

@media (max-width:768px){

.menu-btn{
    display:block;
}

.dash2{
    display:none;
    flex-direction:column;
    position:absolute;
    top:75px;
    left:0;
    width:75%;
    background:black;
}

.dash2 a{
    padding:5px;
    border-top:1px solid #444;
    text-align:center;
}

.dash2.show{
    display:flex;
}

}