*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(to right,#060b33,#400707);
    font-family: Arial, Helvetica, sans-serif;
}
.table{ 
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    width:80%;
    margin:40px auto;
    border-radius: 10px;
    text-align: center;
}

.row{
    display:grid;
    grid-template-columns: 70px 1fr 120px 1fr 80px;
    padding:10px;
    border-bottom:1px solid #333;
    color:white;
}

.head{
    font-weight:bold;
    color: black;
    background:#e10600;
    border-radius: 10px;
}


@media (max-width:600px){
    .row{
        grid-template-columns: 50px 1fr;
        grid-template-rows: auto auto;
    }

    .team, .points{
        grid-column: span 2;
    }
}